@keyframes tall {
    0% {
        height: 0;
        opacity: 1;
    }
    100% {
        height: 100%;
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-15px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeInRight {
    opacity: 0;
    animation: fadeInRight 1s forwards;
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes type {
    from {
        width: 0%;
        opacity: 0.2;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}

.typed {
    animation: type 3s;
}

.delay-0_1 {
    animation-delay: 0.1s;
}

.delay-0_2 {
    animation-delay: 0.2s;
}

.delay-0_5 {
    animation-delay: 0.5s;
}

.delay-0_6 {
    animation-delay: 0.6s;
}

/*# sourceMappingURL=animations.css.map */
