@import 'fonts';

$black: black;
$orange: #FF6D00;
$blue: #1E82D7;
$dark-blue: #19549a;

body {
  font-family: 'Hind Madurai', Lato, san-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

a, a:hover, a:focus {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.nav > li > a {
  padding: 0;
  color: white;

  &:hover {
    background-color: transparent;
  }
}

header {
  padding: 10px 0;
  z-index: 3;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: all 0.3s;

  #logo {
    padding: 8px 0;
    font-size: 16px;
    color: white;
  }

  ul.nav {
    float: right;

    li {
      display: inline-block;
      padding: 10px 20px;
      color: white;
      font-size: 13px;
      text-transform: uppercase;
      position: relative;

      ul.dropdown {
        position: absolute;
        padding-left: 0;
        background-color: $dark-blue;
        top: 38px;
        left: 1px;
        display: none;
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);

        li {
          width: auto;
          display: block;
          color: white;
          padding: 10px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }
      }

      &:hover {
        background-color: $dark-blue - #111;
        ul.dropdown {
          display: block;
        }
      }
    }

    .sign-in li {
      color: $orange;
      font-weight: bold;
    }
  }

  &.white {
    background-color: white;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

    ul.nav li {
      color: #333;
    }
  }

  &.blue {
    background-color: $dark-blue;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

    #logo {
      color: white;
    }

    ul.nav li {
      color: white;
    }

    .sign-in li {
      color: white;
      background-color: $orange;
      font-weight: bold;
      border-radius: 3px;

      &:hover {
        background-color: $orange - #111;
      }
    }

    .sign-out li {
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, .4);
      border-radius: 3px;
    }
  }
}

.mobile-menu {
  display: none;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.pad-xs {
  padding: 0 1px;
}

.no-pad {
  padding: 0;
}

.input {
  padding: 10px 20px;
  font-size: 14px;
  height: auto;
  border-radius: 3px;
}

.full-width {
  width: 100%;
}

.remodal {
  p.subtext {
    opacity: .5;
    font-size: 14px;
  }
}

.sign-in-form {
  margin-top: 30px;
  margin-bottom: 30px;

  input, button {
    margin-top: 10px;
  }

  select {
    height: 40px;
  }
}

.button {
  background-color: $orange;
  padding: 10px 20px;
  color: white;
  border-radius: 3px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid $orange;

  i {
    margin-left: 10px;
  }

  &.icon-button {
    i {
      margin-left: 0;
    }
  }

  &.big {
    text-transform: none;
    padding: 15px 45px;
    font-size: 16px;
  }

  &.blue {
    background-color: $blue;
    border-color: $blue;
  }

  &.clear {
    background-color: transparent;
    border-color: white;
  }

  &:hover {
    color: #f2f2f2;
  }

  &.disabled {
    background-color: #f2f2f2;
    border-color: #ddd;
    color: #777;
  }
}

#hero {
  min-height: 600px;
  background-image: url(../img/hero.png);
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #000;

  .overlay {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .hero-details {
    color: white;
    text-align: center;
    margin-top: 190px;
    position: relative;

    h1 {
      font-size: 36px;
    }

    .hero-desc {
      font-size: 18px;
      margin-top: 15px;
      line-height: 1.7;
    }
  }

  .calls-to-action {
    position: relative;
    text-align: center;
    margin-top: 75px;
  }
}

#desc, #cta {
  opacity: 0;
  transition: opacity 3s;
}

#course-hero {
  min-height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #000;
  padding: 100px 0 200px 0;
  color: white;

  .overlay {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .course-details {
    position: relative;
    margin-top: 75px;

    h1.course-title {
      line-height: 1.4;
    }

    p.course-desc {
      font-size: 16px;
      line-height: 1.8;
      opacity: .8;
      margin-top: 30px;
    }
  }

  .bottom-bar {
    padding: 20px 0 15px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    .button-wrap {
      margin-top: 15px;
      text-align: right;
    }

    .more-details {
      div {
        margin-bottom: 5px;
        opacity: .8;
      }
      i {
        margin-right: 20px;
        width: 20px;
        display: inline-block;
      }
    }
  }
}

#profile-hero {
  min-height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #000;
  padding: 75px 0 75px;
  color: white;

  &.edit {
    padding-bottom: 20px;
    padding-top: 30px;
    min-height: 200px;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.9);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }

  .profile-details {
    position: relative;
    margin-top: 75px;
    text-align: center;

    .profile-image {
      height: 120px;
      width: 120px;
      margin: 45px auto;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      border: 2px solid #aaa;
    }

    h1.profile-name {
      line-height: 1.4;
    }

    .email {
      font-size: 18px;
      opacity: .6;
    }

    .edit-btn {
      display: inline-block;
      padding: 10px 15px;
      background-color: $blue;
      color: white;
      margin-top: 20px;
      border-radius: 3px;
      font-size: 14px;
    }
  }
}

#why-us {
  padding: 75px 0;

  .advantage {
    margin-bottom: 45px;
    margin-top: 15px;
    padding-right: 15px;

    .icon {
      font-size: 40px;
      color: $orange;
    }

    h3 {
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: bold;
    }

    p {
      font-size: 14px;
      color: #555;
      line-height: 1.6;
    }
  }

  .about {
    background-color: #fafafa;
    border-radius: 3px;
    border: 1px solid #eee;
    min-height: 480px;
    padding: 45px;

    h2 {
      font-size: 24px;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    p {
      margin-top: 20px;
      line-height: 1.6;
      color: #555;
    }

    .button-wrap {
      margin-top: 45px;
    }
  }
}

#featured-courses {
  padding: 90px 0;
  border-top: 1px dotted #ddd;
  background-color: #f4f5f6;

  h2 {
    font-size: 24px;
    margin: 0;
  }

  form {
    margin-top: -10px;
  }

  .courses-row {
    margin-top: 60px;
  }
}

#courses {
  padding: 120px 0 90px 0;
  background-color: #f4f4f4;

  &.course-page {
    padding: 75px 0;
  }

  .courses-row {
    margin-top: 60px;
  }

  .venues-row {
    margin-top: 45px;
    margin-bottom: 90px;
  }

  .venue-item {
    background-color: white;
    border: 1px solid #f2f2f2;
    padding: 10px 20px 30px;
  }

  .venue__address {
    font-size: 16px;
    color: #777;
    line-height: 1.6;
  }

  .venue__instructor {
    margin-top: 20px;
  }

  .instructor__heading {
    font-size: 14px;
    text-transform: uppercase;
  }

  .instructor__name {
    color: #777;
    line-height: 1.6;
  }

  h2 {
    margin: 0px;
  }

  form {
    margin-top: -10px;
  }
}

.course-card {
  background-color: white;
  border: 1px solid #eee;
  transition: all 0.3s;
  margin-bottom: 30px;

  .image {
    height: 150px;
    background-color: #444;
    background-size: cover;
    background-position: center;
    -webkit-filter: grayscale(30%); /* Chrome, Safari, Opera */
    filter: grayscale(30%);
  }

  .details {
    padding: 20px;

    h3 {
      margin-bottom: 15px;
      margin-top: 10px;
      color: #222;
    }

    p {
      color: #777;
      font-size: 14px;
      line-height: 1.6;
      height: 66px;
      overflow: hidden;
    }
  }

  &:hover {
    transform: translateY(-7px);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, .08);
  }
}

.search-form {
  width: 100%;

  .search-input {
    width: 100%;
  }
  .search-group {
    position: relative;

    .search-input {
      padding: 10px 20px;
      font-size: 14px;
      height: auto;
    }

    .button {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

#stats {
  padding: 75px 0 120px 0;
  background-color: #1a569d;
  color: white;
  background-image: url(../img/stats_bg.png);
  background-size: cover;
  background-position: center;
  position: relative;

  .overlay {
    background-color: #184F9D;
    opacity: .8;
  }

  h2 {
    margin-bottom: 45px;
    position: relative;
  }

  .stat {
    text-align: center;
    margin-top: 30px;

    .icon {
      font-size: 36px;
      margin-bottom: 15px;
    }

    .number {
      font-size: 64px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .detail {
      text-transform: uppercase;
      font-size: 16px;
    }
  }
}

#clients {
  // height: 450px;
  padding: 75px 0 120px 0;
  text-align: center;

  h2 {
    margin-bottom: 45px;
  }

  img.client {
    height: 70px;
    margin: 45px;
  }
}

#footer {
  background-color: #1f212f;
  padding: 90px 0;
  color: white;

  p.sub {
    color: rgba(255, 255, 255, .5);
    text-align: center;
  }

  form {
    margin-top: 45px;
    margin-bottom: 90px;
  }

  .links {
    font-size: 14px;

    .right {
      text-align: right;
    }

    .link {
      color: rgba(255, 255, 255, 1);
      margin-right: 20px;
    }
  }
}

hr {
  opacity: 0.4;
}

// COURSES PAGE
#search-hero {
  background-image: url(../img/hero.png);
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #000;
  padding: 105px 0 90px;

  .overlay {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.pagination-wrap {
  margin-top: 30px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: $orange;
  border-color: $orange;
}

.pagination > li > a, .pagination > li > span {
  color: $orange;
}

// FAQS PAGE
#faqs {
  padding: 100px 0;

  h2 {
    margin-bottom: 60px;
  }

  .faq {
    padding: 30px;
    padding-left: 75px;
    position: relative;
    transition: all 0.3s;
    margin-top: 30px;
    .icon {
      height: 45px;
      width: 45px;
      border-radius: 50%;
      background-color: #ddd;
      text-align: center;
      padding-top: 13px;
      top: 30px;
      left: 0px;
      position: absolute;
      transition: all 0.3s;
    }
    h3 {
      margin-top: 0;
      margin-bottom: 15px;
      line-height: 1.4;
      font-size: 18px;
    }
    p {
      color: #666;
      line-height: 1.6;
      font-size: 14px;
    }
    &:hover {
      cursor: pointer;
      .icon {
        color: white;
        background-color: $orange;
      }
    }
  }
}

#services {
  padding: 100px 0;
  background-color: #f4f5f6;

  h2 {
    margin-bottom: 60px;
  }

  .services {
    .service {
      padding: 30px 40px 40px;
      background-color: white;
      border: 1px solid #f2f2f2;
      font-size: 14px;
      margin-bottom: 30px;
      min-height: 295px;

      h3 {
        line-height: 1.4;
      }

      ul {
        padding-left: 17px;
        margin-top: 30px;
        li {
          list-style: circle;
          margin-bottom: 8px;
          color: #555;
        }
      }

      p {
        color: #555;
        margin-bottom: 15px;
        line-height: 1.6;

        &:first-child {
          margin-top: 30px;
        }
      }
    }
  }
}

#payment {
  // height: 90vh;
  min-height: 500px;
  background-color: #f4f5f6;
  padding: 120px 0 75px 0;

  .payment-card {
    padding: 75px 45px 90px;
    background-color: white;
    border: 1px solid #f2f2f2;
    text-align: center;

    .icon {
      background-color: #42a953;
      display: block;
      margin: auto;
      border-radius: 50%;
      text-align: center;
      height: 120px;
      width: 120px;
      line-height: 145px;

      &.fail {
        background-color: #ca1b34;
        background-color: #aaa;
      }
    }

    .ion {
      font-size: 45px;
      color: white;
    }

    h2 {
      margin-top: 45px;
      margin-bottom: 20px;
    }

    p {
      color: #999;
      margin-bottom: 45px;
    }

    a {
      color: $blue;
      padding: 0 10px;
    }
  }
}

.card {
  padding: 45px 60px 120px;
  background-color: white;
  border: 1px solid #f2f2f2;

  h2 {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  p {
    color: #777;
  }

  a {
    color: $blue;
    padding: 0 10px;
  }
}

span.course-title {
  font-weight: bold;
  font-style: italic;
  color: #333;
}

.card-subsection {

  // margin: 10px 0;
  margin-bottom: 10px;

  &--price {
    margin-top: 20px;
  }

  h3 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 0;

    &:after {
      content: ':';
      margin-right: 10px;
    }
  }

  span {
    color: #777;

    &.price:before {
      content: '\20A6';
      font-size: 14px;
      margin-right: 2px;
    }
  }
}

.hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
}

#profile-edit {
  padding: 0 0 45px;
  background-color: #f4f5f6;
  // border: 1px solid #f2f2f2;

  &.sign-up-page {
    padding-top: 120px;
  }

  .edit-profile-card {
    margin-top: -30px;
    background-color: white;
    padding: 20px 0 45px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.02);
  }

  form {
    margin-top: 30px;
  }

  input {
    margin-bottom: 15px;
  }

  label {
    font-weight: normal;
    font-size: 13px;
    text-transform: uppercase;
    color: #777;
  }
}

.chat-box {
  background-color: $orange;
  position: fixed;
  bottom: 0;
  right: 30px;
  min-width: 250px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  cursor: pointer;
  transition: height .3s;

  &--expanded {
    height: 300px;
  }

  .ion {
    float: right;
  }
}

.chat-box__header {
  padding: 15px 20px 10px;
}

.chat-box__body {
  background-color: #eee;
  height: 0;
  position: relative;
  // transition: height .3s;

  .chat-box--expanded & {
    display: block;
    height: 100%;
    padding: 3px;
  }
}

.chat-box__text-field {
  position: absolute;
  width: 95%;
  margin: auto 2.5%;
  bottom: 50px;
  left: 0;
  padding: 5px 10px;
  display: none;
  color: $black;

  .chat-box--expanded & {
    display: block;
  }
}

#social-share {
  padding: 60px 0 90px;
  text-align: center;
}

.social-share__title {
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.social-share__sites {
  padding: 0;
  list-style: none;
  padding-top: 20px;
}

.share-site {
  display: inline-block;
  font-size: 21px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border: 2px solid $dark-blue;
  border-radius: 50%;
  margin: 0 7px;
  transition: all 0.3s;

  a {
    transition: all 0.3s;
  }

  &.twitter {
    a {
      color: #4a9cec;
    }
    border-color: #4a9cec;

    &:hover {
      background-color: #4a9cec;
    }
  }

  &.facebook {
    a {
      color: #2e4688;
    }
    border-color: #2e4688;

    &:hover {
      background-color: #2e4688;
    }
  }

  &.google-plus {
    a {
      color: #bd0012;
    }
    border-color: #bd0012;

    &:hover {
      background-color: #bd0012;
    }
  }

  &.linkedin {
    a {
      color: #1261a3;
    }
    border-color: #1261a3;

    &:hover {
      background-color: #1261a3;
    }
  }

  &.email {
    a {
      color: #777;
    }
    border-color: #777;

    &:hover {
      background-color: #777;
    }
  }

  &:hover a {
    color: white;
  }
}






